.control-panel-container {
    display: flex;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 5;
    /* height: 100%; */
    max-height: 100vh;
    align-items: center;
    margin: 10px;
    gap: 10px;
    overflow-y: auto;
}

.control-panel-container>button {
    width: fit-content;
}

.control-panel-container .control-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 380px;
    height: fit-content;
    background-color: var(--bg-normal);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 10px;
    border-radius: 15px;
}
.control-panel-container .control-panel h1 {
    color: var(--text);
    font-size: 28px;
}

.control-panel-container .control-panel.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .control-panel-container .to-top {
        align-self: flex-start;
        margin-top: 50px;
    }
}