.results-container {
    display: flex;
    flex-direction: row-reverse;
    /* Use row instead of row-reverse for natural item order */
    position: absolute;
    right: 0;
    /* Pins the container to the right edge */
    top: 50%;
    /* Positions the top at the vertical center */
    transform: translateY(-50%);
    /* Shifts upward by half the container's height for vertical centering */
    z-index: 5;
    max-height: 100vh;
    align-items: center;
    margin: 10px;
    gap: 10px;
    overflow-y: auto;
}

.results-container>button {
    width: fit-content;
}

.results-container .results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 380px;
    height: fit-content;
    background-color: var(--bg-normal);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 10px;
    border-radius: 15px;
}

.results-container .results.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .results-container .to-bottom {
        align-self: flex-end;
        margin-bottom: 50px;
    }
}